<%= simple_form_for  @athlete do |f| %>
   <%=f.input :first_name %>
   <%=f.input :last_name %>
   <div>
   <%=f.label:gender  %>
   <%= f.radio_button(:gender, 'K') %> Kobieta
   <%= f.radio_button(:gender, 'M') %> Mężczyzna
   </div>
   <%=f.label:birthdate %>
   <%=f.date_select(:birthdate, start_year: 1920, use_month_numbers: true, order: [:day, :month, :year]) %>
<div>
<%=f.input :city %>
</div>

<div class="field"> <%= f.label :route_id %>    <% routes.each do |route| %>
    <%= f.radio_button(:route_id, route.id) %>
    <%= route.name %>
  <% end %>
</div>
<%= f.input :phone %>
<%=f.input :team %>
<%=f.input :email %>
<div class="field">
  <%= f.check_box :terms_accepted %>
  <%= f.label "zapoznałem się z Regulaminem i akceptuję jego postanowienia" %>
</div>

  <div class="field">
    <%= f.check_box :gdpr_accepted %>
    <%= f.label "Wyrażam zgodę na wykorzystanie i przetwarzanie moich danych osobowych" %>
  </div>


<%= f.button :submit %>

  <% end %>
