<%= form_with(model: athlete, local: true) do |form| %>
  <% if athlete.errors.any? %>
    <div id="error_explanation">
      <h2><%= "Zgłoszenie nie może być przyjęte. Ilość błędów: #{athlete.errors.count}" %></h2>

      <ul>
      <% athlete.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Imię %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :Nazwisko %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :Płeć %>
    <%= form.radio_button(:gender, 'K') %> Kobieta
    <%= form.radio_button(:gender, 'M') %> Mężczyzna
  </div>

  <div class="field">
    <%= form.label :Data_urodzenia %>
    <%= form.date_select(:birthdate, start_year: 1920, use_month_numbers: true, order: [:day, :month, :year]) %>
  </div>

  <div class="field">
    <%= form.label :Miasto %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :Trasa %>
    <%= form.radio_button(:route_id, 35) %> klasyczna 35 km
    <%= form.radio_button(:route_id, 7) %> dziecięca 7 km

  </div>

  <div class="field">
    <%= form.label :Numer_telefonu %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :Drużyna %>
    <%= form.text_field :team %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.email_field :email %>
  </div>
  <form action="...">
  	<input type="checkbox" name="nazwa" value="wartość">Zgoda
  </form>
  <form action="...">
	<input type="checkbox" name="nazwa" value="wartość">Rodo
</form>
  <div class="actions">
    <%= form.submit :Prześlij %>
  </div>

<% end %>
