<%= form_with(model: athlete, local: true) do |form| %>
  <% if athlete.errors.any? %>
   <div id="error_explanation">
      <h2><%= "Zgłoszenie nie może być przyjęte. Ilość błędów: #{athlete.errors.count}" %></h2>
      <ul>
       <% athlete.errors.full_messages.each do |message| %>
               <li><%= message %></li>
             <% end %>

             </ul>

   </div>
  <% end %>

 <%= form.hidden_field(:event_id) %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>

  </div>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    Płeć
    <br></br>
    <%= form.radio_button(:gender, 'K') %>
    <%= form.label :gender_k, "Kobieta" %>
    <%= form.radio_button(:gender, 'M') %>
    <%= form.label :gender_m, "Mężczyzna" %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select(:birthdate,  { start_year: 1920, use_month_numbers: true, order: [:day, :month, :year]}, { class: 'date' } ) %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
       Trasa
       <br></br>
    <% routes.each do |route| %>
        <%= form.radio_button(:route_id, route.id) %>
        <%= form.label "route_id_#{route.id}", route.name %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :team %>
    <%= form.text_field :team %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.check_box :terms_accepted %>
    <%= form.label :terms_accepted, "zapoznałem się z Regulaminem i akceptuję jego postanowienia" %>
  </div>

    <div class="field">
      <%= form.check_box :gdpr_accepted %>
      <%= form.label :gdpr_accepted, "Wyrażam zgodę na wykorzystanie i przetwarzanie moich danych osobowych" %>
    </div>


  <div class="actions">
      <%= form.submit :"  Wyślij zgłoszenie" %>

  </div>
  </body>
  </html>

<% end %>
