<p id="notice"><%= notice %></p>

<h1>Athletes</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>City</th>
      <th>Route</th>
      <th>Phone</th>
      <th>Team</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.first_name %></td>
        <td><%= athlete.last_name %></td>
        <td><%= athlete.gender %></td>
        <td><%= athlete.birthdate %></td>
        <td><%= athlete.city %></td>
        <td><%= athlete.route_id %></td>
        <td><%= athlete.phone %></td>
        <td><%= athlete.team %></td>
        <td><%= athlete.email %></td>
        <td><%= link_to 'Show', athlete %></td>
        <td><%= link_to 'Edit', edit_athlete_path(athlete) %></td>
        <td><%= link_to 'Destroy', athlete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Zawodnik', new_athlete_path %>
