<p id="notice"><%= notice %></p>

<h1>Lista startowa</h1>

<table>
<thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>


      <th>City</th>

      <th>Team</th>
    </tr>

</thead>
  <tbody>
    <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.first_name %></td>
        <td><%= athlete.last_name %></td>


        <td><%= athlete.city %></td>

        <td><%= athlete.team %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Wróć', new_athlete_path %>
