<h1>Lista startowa</h1>
<h2><%= @event.name %></h2>

<table border="1px" class="start_list">
<thead>
    <tr style='background:#ddd;'>
      <td>Numer
        </td>
      <td><span class='caps'>First name</td>
      <td>Last name</td>


      <td>City</td>

      <td>Team</td>
      <td>Trasa</td>
    </tr>

</thead>
  <tbody>
    <% @athletes.each_with_index do |athlete, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= athlete.first_name %></td>
        <td><%= athlete.last_name %></td>


        <td><%= athlete.city %></td>

        <td><%= athlete.team %></td>
        <td><%= athlete.route.name %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Wróć', new_athlete_path %>
