<section  class="wrapper">
<div class="inner">
<p id="notice"><%= notice %></p>
<h2>Zgłoszenie zostało przyjęte</h2>
<h1><%= @event.name %></h1>
<h5>Do zobaczenia <%= I18n.l( @event.event_date) %></h5>



<!-- Content -->
<table border="1px">
  <tbody>
<div class="content">
<tr style='background:#ddd;'>
  <td>Imię i Nazwisko
    </td>
    <td><%= @athlete.first_name %>
    <%= @athlete.last_name %></td>
  </tr>

<tr>
<td>Płeć</td>
<td>  <%= @athlete.gender %></td>
</tr>
<tr>
<td>Data urodzenia:</td>
<td>  <%= @athlete.birthdate %></td>
</tr>
<tr>
<td>Miejscowość:</td>
<td>  <%= @athlete.city %></td>
  </tr>
<tr>
<td>Trasa:</td>
<td>  <%= @athlete.route.name %></td>
  </tr>
  <tr>
  <td>Numer telefonu:</td>
  <td>  <%= @athlete.phone %></td>
    </tr>
    <tr>
    <td>Drużyna:</td>
    <td>  <%= @athlete.team %></td>
      </tr>
      <tr>
      <td>Email:</td>
      <td>  <%= @athlete.email %></td>
        </tr>
</tbody>
</table>

<%= link_to 'Dalej', root_path %>
</div>
</section>
