<section id="main" class="wrapper">
				<div class="inner">

					<header class="major">
            <p id="notice"><%= notice %></p>

						<h1>Zgłoszenie zostało przesłane</h1>
            <h2><%= @event.name %></h2>
						<p>Do zobaczenia <%= I18n.l( @event.event_date) %></p>
					</header>

					<!-- Content -->
					<div class="content">


<p>
  <strong>Imię:</strong>
  <%= @athlete.first_name %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @athlete.last_name %>
</p>

<p>
  <strong>Płeć:</strong>
  <%= @athlete.gender %>
</p>

<p>
  <strong>Data urodzenia:</strong>
  <%= @athlete.birthdate %>
</p>


<p>
  <strong>Miejscowość:</strong>
  <%= @athlete.city %>
</p>

<p>
  <strong>Trasa:</strong>
  <%= @athlete.route.name %>
</p>

<p>
  <strong>Numer telefonu:</strong>
  <%= @athlete.phone %>
</p>

<p>
  <strong>Drużyna:</strong>
  <%= @athlete.team %>
</p>

<p>
  <strong>Email:</strong>
  <%= @athlete.email %>
</p>

<%= link_to 'Dalej', root_path %>
</div>
</section>
